{% sw_extends '@Storefront/storefront/page/checkout/finish/finish-details.html.twig' %}

{% set paymentMethod = page.order.transactions|last.paymentMethod.handlerIdentifier|split('\\') %}
{% set paymentMethodResponse = context|cashPaymentResponse(page.order.orderNumber) %}

{% block page_checkout_finish_order_payment_method%}
	{% if paymentMethod|last == 'NovalnetPayment'  %}
		{% set paymentName = context.context|getPaymentName(page.order.orderNumber) %}
		<p>
			<strong>{{ "checkout.finishInfoPayment"|trans|sw_sanitize }}</strong>
			{{ paymentName }}
		</p>
		
		{% if paymentMethodResponse.payment_type == 'CASHPAYMENT' %}	
			<p class="panel--body is--align-center">
				{% if paymentMethodResponse.checkout_token %}
					<button class="bz-checkout-btn nn-btn" id="novalnet_button" >{{ "NovalnetPayment.text.barzahlen"|trans|sw_sanitize }}</button>
					<style>
					  .nn-btn {
						display:inline-block !important;
						float:none !important;
						margin: 0px !important;
					}
					</style>
				{% endif %}
			</p>
			{% if paymentMethodResponse.checkout_token %}
				<script src="{{ paymentMethodResponse.checkout_js }}" class="bz-checkout" data-token="{{ paymentMethodResponse.checkout_token }}" data-auto-display="true"></script>
				<style type="text/css">
					iframe#bz-checkout-modal {
					position: fixed !important; }
				</style>
			{% endif %}
		{% endif %}
	
	{% else %}
		{{ parent() }}
	{% endif %}
	
	<p>
		{% if page.order.transactions.last.getCustomFields()['novalnet_comments'] is not empty %}
			{% set novalnetFinishComments = page.order.transactions.last.getCustomFields()['novalnet_comments']| split('&&') %}
			<strong>{{ "NovalnetPayment.text.commentsHeader"|trans|sw_sanitize }}</strong>
			{{ novalnetFinishComments|first|replace({'/ ': "<br>"}) | raw }}
		{% endif %}
	</p>
{% endblock %}
