{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm %}
{{ parent() }}
	<div id="novalnet-payment-script">
		<input type="hidden" value={{ path('frontend.checkout.removePaymentToken') }} id="cardRemoveUrl">
		<input type="hidden" value="{{ "NovalnetPayment.text.removeConfirmMessage"|trans }}" id="removeConfirmMessage">
		<input type="hidden" value="{{ null|shopVersion }}" id="nnShopVersion">
	</div>
{% endblock %}

{% block page_checkout_confirm_form_submit %}
    {% set hidePayment = 'NO' %}
    {% set novalnetSettings = context.salesChannel.id|getNovalnetSettings %}
    {% set authAmount = ( page.cart.price.totalPrice ? page.cart.price.totalPrice : page.order.price.totalPrice ) * 100 %}
    {% set invoiceGuaranteeAvailable = context|isGuaranteeAvailable(page,novalnetSettings, 'novalnetinvoiceguarantee') %}
    {% set invoiceInstalmentAvailable = context|isGuaranteeAvailable(page,novalnetSettings, 'novalnetinvoiceinstalment') %}
    {% set sepaGuaranteeAvailable = context|isGuaranteeAvailable(page,novalnetSettings, 'novalnetsepaguarantee') %}
    {% set sepaInstalmentAvailable = context|isGuaranteeAvailable(page,novalnetSettings, 'novalnetsepainstalment') %}


    {% if 'Novalnet' in context.paymentMethod.handlerIdentifier %}
        {% if 'NovalnetInvoiceGuarantee' in context.paymentMethod.handlerIdentifier and invoiceGuaranteeAvailable == 'NO' %}
            {% set hidePayment = 'YES' %}
        {% endif %}

        {% if 'NovalnetSepaGuarantee' in context.paymentMethod.handlerIdentifier and sepaGuaranteeAvailable == 'NO' %}
            {% set hidePayment = 'YES' %}
        {% endif %}

        {% if 'NovalnetInvoiceInstalment' in context.paymentMethod.handlerIdentifier and invoiceInstalmentAvailable == 'NO' %}
            {% set hidePayment = 'YES' %}
        {% endif %}
        
        {% if ('NovalnetApplePay' in context.paymentMethod.handlerIdentifier or  'NovalnetGooglePay' in context.paymentMethod.handlerIdentifier) and authAmount <= 0 %}
            {% set hidePayment = 'YES' %}
        {% endif %}

        {% if 'NovalnetSepaInstalment' in context.paymentMethod.handlerIdentifier and sepaInstalmentAvailable == 'NO' %}
            {% set hidePayment = 'YES' %}
        {% endif %}
    {% endif %}

    {% if hidePayment == 'YES' %}
        <button id="confirmFormSubmit"
                class="btn btn-primary btn-block btn-lg"
                form="confirmOrderForm"
                disabled
                type="submit">
            {{ "checkout.confirmSubmit"|trans|sw_sanitize }}
        </button>
    {% elseif 'NovalnetApplePay' in context.paymentMethod.handlerIdentifier or  'NovalnetGooglePay' in context.paymentMethod.handlerIdentifier %}
		{% if 'NovalnetApplePay' in context.paymentMethod.handlerIdentifier %}
			{% set class = 'nn-apple-pay-button' %}
		{% else %}
			{% set class = 'nn-google-pay-button' %}
		{% endif %}
		
		{% set paymentName = context.paymentMethod.customFields.novalnet_payment_method_name|replace({'novalnet': ""}) %}
		{% set formName = null|shopVersion >= "6.4" ? "form = confirmOrderForm" : '' %}
		{% set articleData = [] %}
		
		{% for lineItem in page.cart.lineItems %}
			{% set articleData = articleData|merge([{ label: lineItem.label ~ " (" ~ lineItem.quantity ~ " x " ~ lineItem.price.unitPrice|currency(context.currency.isoCode) ~ ")", type: 'SUBTOTAL', amount: (lineItem.price.totalPrice * 100)|round }]) %}
		{% endfor %}
		
		{% for delivery in page.cart.deliveries %}
			{% set articleData = articleData|merge([{ label: delivery.shippingMethod.name ~ " (" ~ delivery.shippingCosts.quantity ~ " x " ~ delivery.shippingCosts.unitPrice|currency(context.currency.isoCode) ~ ")", type: 'SUBTOTAL', amount: (delivery.shippingCosts.totalPrice * 100)|round }]) %}
		{% endfor %}
		
		{% for tax in page.cart.price.calculatedTaxes %}
			{% set articleData = articleData|merge([{ label: "NovalnetPayment.text.vatLabel"|trans({'%vat%': tax.taxRate|trans|sw_sanitize})|sw_sanitize, type: 'SUBTOTAL', amount: (tax.tax * 100)|round }]) %}
		{% endfor %}
		
		<div class="{{ class }}"
			 data-wallet-payments="true"
			 data-page-type="checkoutPage"
			 data-paymentMethodId="{{ context.paymentMethod.id }}"
			 data-success-url="{{ path('frontend.novalnet.successOrder') }}"
			 data-payment-config="{{
					{
					'clientKey': novalnetSettings['NovalnetPayment.settings.clientKey'],
					merchant: {
						'countryCode': context.customer.activeBillingAddress.country.iso,
							'partnerId': 'NovalnetGooglePay' in context.paymentMethod.handlerIdentifier ? novalnetSettings['NovalnetPayment.settings.googlepay.merchantId'] : ''
					},
					transaction: {
						'amount': authAmount|round,
						'currency': context.currency.isoCode,
						'paymentMethod': 'NovalnetApplePay' in context.paymentMethod.handlerIdentifier ? "APPLEPAY" : "GOOGLEPAY",
						'enforce3d': 'NovalnetGooglePay' in context.paymentMethod.handlerIdentifier ? novalnetSettings['NovalnetPayment.settings.googlepay.enforcecc3D'] : '',
						'environment': novalnetSettings["NovalnetPayment.settings." ~ paymentName ~ ".testMode"] ? "SANDBOX" : "PRODUCTION"
					},
					order: {
						'merchantName': novalnetSettings["NovalnetPayment.settings." ~ paymentName ~ ".sellerName"] is not empty ? novalnetSettings["NovalnetPayment.settings." ~ paymentName ~ ".sellerName"] : context.salesChannel.translated.name,
						'lineItems': articleData
					},
					custom: {
						'lang': context.context|getLocaleCodeFromContext("true")
					},
					button: {
						'type': novalnetSettings["NovalnetPayment.settings." ~ paymentName ~ ".buttonType"],
						'style': novalnetSettings["NovalnetPayment.settings." ~ paymentName ~ ".buttonTheme"],
						'locale': context.context|getLocaleCodeFromContext("true"),
						'boxSizing': 'NovalnetApplePay' in context.paymentMethod.handlerIdentifier ? 'border-box' : 'fill',
						'dimensions': {
							'height': novalnetSettings["NovalnetPayment.settings." ~ paymentName ~ ".buttonHeight"],
							'cornerRadius': 'NovalnetApplePay' in context.paymentMethod.handlerIdentifier ? novalnetSettings['NovalnetPayment.settings.applepay.buttonRadius'] : ''
						}
					}
				 }|jsonEncode()|escape('html_attr')}}">
		</div>
		<input type="hidden" value="" name="novalnetapplepayFormData[walletToken]" id="novalnetapplepay-wallet-token" {{formName}}>
		<input type="hidden" value="" name="novalnetgooglepayFormData[walletToken]" id="novalnetgooglepay-wallet-token" {{formName}}>
		<input type="hidden" value="" name="novalnetgooglepayFormData[doRedirect]" id="novalnetgooglepay-do-redirect" {{formName}}>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}


