<input type="hidden" value="{{paymentMethod}}" class="novalnet-payment-name">

{% set directdebitachTokens = context|getTokens(paymentMethod) %}
{% set onclick = config('NovalnetPayment.settings.directdebitachOneclick') %}

<div class="{{paymentMethod}}-payment"
     id="{{paymentMethod}}-payment"
     data-{{paymentMethod}}-payment
     data-{{paymentMethod}}-payment-config="{{
     {
        'text' : {
            'accountNumberEmpty' : "NovalnetPayment.text.accountNumberEmpty" | trans,
            'routingNumberEmpty' : "NovalnetPayment.text.routingNumberEmpty" | trans,
            'accountHolderEmpty' : "NovalnetPayment.text.accountHolderEmpty" | trans
        }
     }|jsonEncode()|escape('html_attr')}}">
     
    <div class="form-group col-md-12 novalnet-input-field-container">
        <div id="{{paymentMethod}}-error-container" class="error-container nnhide">
            <div role="alert" class="alert alert-danger d-flex align-items-center">
                {% sw_icon 'blocked' %}
                <div class="alert-content-container">
                    <div class="alert-content"></div>
                </div>
            </div>
        </div>
    </div>   
    
    {% if directdebitachTokens is not empty and onclick is not empty %}
        <div>
            {% set isAlreadyExists = [] %}
            <ul class="{{paymentMethod}}-SavedPaymentMethods novalnet-SavedPaymentMethods" data-count="{{directdebitachTokens|length}}">
                {% for token in directdebitachTokens %}
                    {% if token.token != '' and token.subscription == 0 %}
                        {% set isChecked = '' %}
                        {% if loop.index == '1' %}
                            {% set isChecked = 'checked' %}
                        {% endif %}
                        {% if token.accountData not in isAlreadyExists %}
                            {% set isAlreadyExists = isAlreadyExists|merge([token.accountData]) %}
                            <li class="{{paymentMethod}}-SavedPaymentMethods-token novalnet-SavedPaymentMethods-token">
                                <div class="row">
                                    <div class="col-sm-12 px-0">
                                        <label for="{{paymentMethod}}-payment-token-{{ token.token }}" style="float:left;min-width: 275px;"><input id="{{paymentMethod}}-payment-token-{{ token.token }}" form="confirmOrderForm" type="radio" name="{{paymentMethod}}FormData[paymentToken]" value="{{ token.token }}" style="width:auto;" class="{{paymentMethod}}-SavedPaymentMethods-tokenInput novalnet-SavedPaymentMethods-tokenInput" {{isChecked}}/> {{token.type}} {{ token.accountData }} &nbsp;</label>
                                        <div style="float:left;">
                                            <a class="remove_ach_card_details" data-value="{{ token.token }}" style="cursor:pointer;">{% sw_icon 'trash' style {'size': 'xs','color': 'danger'} %}</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if isAlreadyExists is not empty %}
                <li class="{{paymentMethod}}-SavedPaymentMethods-new novalnet-SavedPaymentMethods-new">
                    <div class="row">
                        <div class="col-sm-12 px-0">
                            <label for="{{paymentMethod}}-payment-new"><input id="{{paymentMethod}}-payment-new" form="confirmOrderForm" type="radio" name="{{paymentMethod}}FormData[paymentToken]" value="new" style="width:auto;" class="{{paymentMethod}}-SavedPaymentMethods-tokenInput novalnet-SavedPaymentMethods-tokenInput"/>
                            {{ "NovalnetPayment.text.useOtherPayment" | trans }}</label>
                        </div>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    
    <div id="{{paymentMethod}}-payment-form" class="{{paymentMethod}}-payment-form">
        <div class="card">
            {% set novalnetConfiguration = ( page.cart.extensions.novalnetConfiguration.all ? page.cart.extensions.novalnetConfiguration.all : (page.order.extensions.novalnetSubscription.id or page.order.extensions.subsOrders.id)) %}
            <div class="form-group col-md-12 novalnet-input-field-container" id="{{paymentMethod}}AccountHolder" >
                <label class="form-label" for="{{paymentMethod}}AccountHolder">{{ "NovalnetPayment.text.achAccountHolder" | trans }}</label>
                <input class="form-control" form="confirmOrderForm" id="{{paymentMethod}}AccountHolder" name="{{paymentMethod}}FormData[ach_account_holder]" value="{{context.customer.activeBillingAddress.firstName  ~ ' ' ~ context.customer.activeBillingAddress.lastName}}" autocomplete="OFF"/>
            </div>
            <div class="form-group col-md-12 novalnet-input-field-container">
                <label class="form-label" for="{{paymentMethod}}AccountNo">{{ "NovalnetPayment.text.achAccountNo" | trans }}</label>
                <input class="form-control"  form="confirmOrderForm" id="{{paymentMethod}}AccountNo" name="{{paymentMethod}}FormData[ach_account_no]" autocomplete="OFF" style="text-transform:uppercase;"/>
            </div>
            <div class="form-group col-md-12 novalnet-input-field-container">
                <label class="form-label" for="{{paymentMethod}}RoutingAbaNo">{{ "NovalnetPayment.text.achRoutingAbaNo" | trans }}</label>
                <input class="form-control" form="confirmOrderForm" id="{{paymentMethod}}RoutingAbaNo"" name="{{paymentMethod}}FormData[ach_routing_aba_no]" autocomplete="OFF" />
            </div>
            {% if onclick is not empty and context.customer.guest is empty and novalnetConfiguration is empty %}
                <div class="form-group col-md-12 custom-control custom-checkbox form-check" >
                    <input class="custom-control-input form-check-input" form="confirmOrderForm" id="{{paymentMethod}}-save-data" name="{{paymentMethod}}FormData[saveData]" type="checkbox" checked="checked">
                    <label class="custom-control-label" for="{{paymentMethod}}-save-data">
                        {{ "NovalnetPayment.text.savePaymentData" | trans }}
                    </label>
                </div>
            {% endif %}
        </div>
    </div>
    <input type="hidden" value="ACCOUNT NUMBER" name="{{paymentMethod}}FormData[type]">
</div>
