{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block page_product_detail_product_buy_button %}
	{{ parent() }}
	
	{% set novalnetSettings = context.salesChannel.id|getNovalnetSettings %}
    {% set applePayIsActive = false %}
	
	{% for paymentMethod in page.salesChannelPaymentMethods %}
		{% if 'NovalnetApplePay' in paymentMethod.handlerIdentifier %}
			{% set applePayIsActive = true %}
		{% endif %}
    {% endfor %}
    
    {% if applePayIsActive is not empty  %}
		{% if novalnetSettings['NovalnetPayment.settings.accessKey'] is not empty and novalnetSettings['NovalnetPayment.settings.clientId'] is not empty and 'productListingPage' in novalnetSettings['NovalnetPayment.settings.applepay.displayFields']  %}
			<div class="nn-product-detail-page">
				<button class="btn btn-block btn-buy nn-apple-pay-button"
						data-novalnetapplepay-customer-login="{{ context.customer }}"
						data-novalnetapplepay-addToCartUrl="{{ path('frontend.novalnet.addToCart') }}"
						data-novalnetapplepay-shipping-url="{{ path('frontend.novalnet.loadShipping') }}"
						data-novalnetapplepay-success-url="{{ path('frontend.novalnet.successOrder') }}"
						data-novalnetapplepay-page-type="productListingPage"
						data-novalnetapplepay-payment-config="{{
							{
								'clientKey': novalnetSettings['NovalnetPayment.settings.clientKey'],
								settings: {
									'buttonRadius': novalnetSettings['NovalnetPayment.settings.applepay.buttonRadius'],
									'buttonHeight': novalnetSettings['NovalnetPayment.settings.applepay.buttonHeight'],
									'buttonType': novalnetSettings['NovalnetPayment.settings.applepay.buttonType'],
									'buttonTheme': novalnetSettings['NovalnetPayment.settings.applepay.buttonTheme'],
								},
								transaction: {
									'amount': (product.calculatedPrice.totalPrice * 100)|round,
									'currency': context.currency.isoCode
								},
								merchant: {
									'country_code': country.iso ?? 'DE'
								},
								custom: {
									'lang': context.context|getLocaleCodeFromContext,
								},
								wallet: {
									'shop_name': novalnetSettings['NovalnetPayment.settings.applepay.sellerName']
								}
							}|jsonEncode()|escape('html_attr')}}">
				<input type="hidden" id="productId" name="productId" value="{{ product.id }}" />
				<input type="hidden" value="{{ null|shopVersion }}" id="nnShopVersion">
				</button>
			</div>
		{% endif %}
	{% endif %}
{% endblock %}
