{% sw_extends '@Storefront/storefront/page/account/order-history/order-detail.html.twig' %}
{% set paymentMethod = order.transactions|last.paymentMethod|getPaymentMethodName() %}

	{% block page_account_order_item_detail_payment_method_value %}
		{% if 'novalnet' in paymentMethod  %}
			{% set paymentName = context|getPaymentName(order.ordernumber) %}
			<dd class="col-6 col-md-7 order-item-detail-labels-value">
				{% if paymentName is not empty  %}
					 {{ paymentName }} 
				{% else %}  
					{{ order.transactions|last.paymentMethod.translated.name }} 
				{% endif %}
			</dd>
		{% else %}  
			{{ parent() }}
		{% endif %}
	{% endblock %}
	
	
	{% block page_account_order_item_detail_table_footer %}
		{{ parent() }}
		{% block page_account_order_item_detail_comments_additional %}
		{% for transaction in order.transactions|sort((a, b) => b.createdAt <=> a.createdAt) %}
			{% set paymentMethodName =context|getPaymentMethodNovalnetName(order.ordernumber) %}
			{% if 'novalnet' in paymentMethod and transaction.getCustomFields()['novalnet_comments'] != '' %}
				{% block page_account_order_item_detail_comments %}
					{% set novalnetOrderComments = transaction.getCustomFields()['novalnet_comments']|getNovalnetComments() %}
					{% block page_account_order_item_detail_comments_label %}
						<dt class="col-6 col-md-5 novalnetorder-comments-header ">{{"NovalnetPayment.text.commentsHeader"|trans}}</dt>
					{% endblock %}

					{% block page_account_order_item_detail_comments_value %}
						<dd class="col-6 col-md-7 order-item-detail-labels-value novalnetorder-comments-header">
							{{ novalnetOrderComments|replace({'/ ': "<br>"}) | raw }}
						</dd>
					{% endblock %}
					{% if paymentMethodName in ['INSTALMENT_INVOICE', 'INSTALMENT_DIRECT_DEBIT_SEPA']   %}
						{% set instalmentInfo = context|getNovalnetInstalmentInfo(order.ordernumber) %}
						{% if instalmentInfo is not empty %}
								<table class="table table-striped novalnetinstalment-table">
									<thead style="font-weight: bold;">
										<tr>
											<th>{{"NovalnetPayment.text.sno"|trans}}</th>
											<th>{{"NovalnetPayment.text.tid"|trans}}</th>
											<th>{{"NovalnetPayment.text.amount"|trans}}</th>
											<th>{{"NovalnetPayment.text.date"|trans}}</th>
											<th>{{"NovalnetPayment.text.status"|trans}}</th>
										<tr>
									</thead>
									<tbody>
										{% set instalmentData = instalmentInfo.InstalmentDetails %}
										{% for info in instalmentData %}
											{%set amount = info.amount/100 %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ info.reference ? info.reference : '-' }}</td>
												<td>{{ amount ? amount|currency(): '-' }}</td>
												<td>{{ info.cycleDate ? info.cycleDate|date('d/m/Y'): '-' }}</td>
												<td>{{ info.status }}</td>
											<tr>
										{% endfor %}
									</tbody>
								</table>
						{% endif %}
					{% endif %}
					
				{% endblock %}
			{% endif %}
		{% endfor %}
	{% endblock %}
	
	{% endblock %}
