{% sw_extends '@Storefront/storefront/page/account/order-history/order-detail.html.twig' %}
{% set paymentMethod = order.transactions|last.paymentMethod.handlerIdentifier|split('\\') %}

	{% block page_account_order_item_detail_payment_method_value %}
		{% if paymentMethod|last == 'NovalnetPayment' %}
			{% set paymentName = context.context|getPaymentName(order.ordernumber) %}
			<dd class="col-6 col-md-7 order-item-detail-labels-value">
				{% if paymentName is not empty  %}
					 {{ paymentName }} 
				{% else %}  
					{{ order.transactions|last.paymentMethod.translated.name }} 
				{% endif %}
			</dd>
		{% else %}  
			{{ parent() }}
		{% endif %}
	{% endblock %}
	
	
	{% block page_account_order_item_detail_table_footer %}
		{{ parent() }}
		{% block page_account_order_item_detail_comments_additional %}
		{% for transaction in order.transactions|sort((a, b) => b.createdAt <=> a.createdAt) %}
			{% set paymentMethodName = context.context|getNovalnetInstalmentInfo(order.ordernumber, true) %}
			{% if paymentMethod|last == 'NovalnetPayment' and transaction.getCustomFields()['novalnet_comments'] != '' %}
				{% block page_account_order_item_detail_comments %}
					{% for comment in transaction.getCustomFields()['novalnet_comments']|split('&&') %}
						{% block page_account_order_item_detail_comments_label %}
							<dt class="col-6 col-md-5 novalnetorder-comments-header ">{{"NovalnetPayment.text.commentsHeader"|trans}}</dt>
						{% endblock %}

						{% block page_account_order_item_detail_comments_value %}
							{% set qrCodeImage = context.context|getQrImage(order.orderNumber) %}
							<dd class="col-6 col-md-7 order-item-detail-labels-value novalnetorder-comments-header">
								{{ comment|replace({'/ ': "<br>"}) | raw }}
								{% if qrCodeImage is not empty %}
									<br>
									<div class="qr-code-text">
										{{ "NovalnetPayment.text.epcQrCodeDesc"|trans|sw_sanitize }}
									</div>
									<div class="qr-code-image">
										<img src="{{ qrCodeImage }}" alt="QR Code" title="QR Code" />
									</div>
								{% endif %}
							</dd>
						{% endblock %}
					{% endfor %}
					{% if paymentMethodName.paymentName in ['INSTALMENT_INVOICE', 'INSTALMENT_DIRECT_DEBIT_SEPA']   %}
						{% set instalmentInfo = context.context|getNovalnetInstalmentInfo(order.ordernumber) %}
						{% if instalmentInfo is not empty %}
								<table class="table table-striped novalnetinstalment-table">
									<caption class="d-none">Installment Information</caption>
									<thead style="font-weight: bold;">
										<tr>
											<th>{{"NovalnetPayment.text.sno"|trans}}</th>
											<th>{{"NovalnetPayment.text.tid"|trans}}</th>
											<th>{{"NovalnetPayment.text.amount"|trans}}</th>
											<th>{{"NovalnetPayment.text.date"|trans}}</th>
											<th>{{"NovalnetPayment.text.status"|trans}}</th>
										<tr>
									</thead>
									<tbody>
										{% set count =  1 %}
										{% set instalmentData = instalmentInfo.InstalmentDetails %}
										 {% for value in instalmentData %}
											{% set amount = value.amount/100 %}
												<tr>
													<td>{{ count }}</td>
													<td>{{ instalmentData[count].reference ? instalmentData[count].reference : '-' }}</td>
													<td>{{ amount ? amount|currency(): '-' }}</td>
													<td>{{ instalmentData[count].cycleDate ? instalmentData[count].cycleDate|date('Y-m-d'): '-' }}</td>
													<td>{{ instalmentData[count].status }}</td>
												<tr>
											{% set count = count + 1 %}
										{% endfor %}	
											
										
									</tbody>
								</table>
						{% endif %}
					{% endif %}
					
				{% endblock %}
			{% endif %}
		{% endfor %}
	{% endblock %}
	
	{% endblock %}
